{
  "web": {
    "auth_uri": "https://{{OKTA_DOMAIN}}/oauth2/default/v1/authorize",
    "client_id": "{{CLIENT_ID}}",
    "client_secret": "{{CLIENT_SECRET}}",
    "redirect_uris": [
      "http://localhost:8080/authorization-code/callback"
    ],
    "issuer": "https://{{OKTA_DOMAIN}}/oauth2/default",
    "token_uri": "https://{{OKTA_DOMAIN}}/oauth2/default/v1/token",
    "token_introspection_uri": "https://{{OKTA_DOMAIN}}/oauth2/default/v1/introspect",
    "userinfo_uri": "https://{{OKTA_DOMAIN}}/oauth2/default/v1/userinfo"
  }
}