{% extends "template.html" %}

{% block content %}
<div id="sign-in-widget"></div>
<script type="text/javascript">
  var config = {};
  config.baseUrl = "https://php.oktapreview.com";
  config.clientId = "0oagcqljz4IEpIDvx0h7";
  config.redirectUri = "http://localhost:8080/authorization-code/callback";
  config.logo = 'http://flask.pocoo.org/static/logo/flask.png';
  config.authParams = {
    issuer: "https://php.oktapreview.com/oauth2/default",
    responseType: 'code',
    state: '{{state}}',
    display: 'page',
    scopes: ['openid', 'profile', 'email']
  };
  new OktaSignIn(config).renderEl(
    { el: '#sign-in-widget' },
    function (res) {
    }
  );
</script>
{% endblock content %}